/**
 * @module          Meta Twitter
 * @author          cms-lab
 * @copyright       2017-2023 cms-lab
 * @link            https://cms-lab.com
 * @license         custom license: https://cms-lab.com/_documentation/meta-twitter/license.php
 * @license_terms   please see license
 *
 */

body {
	background-color:transparent;
}


.spacer2{
	width:100%;
	height:20px;
}

.spacer3{
	width:100%;
	height:30px;
}

.info {
	padding-left: 0;
	background: none;
}
